#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=linux_installer
Comment=
Categories=Application;
Exec=./OSX_installer.command
Icon=./icon.png
Terminal=true
StartupNotify=false
